@model ExpensesMVC.Models.TotalCostYears;


<h1> Year summary</h1>

<div>
    <th class="text-black">
        January: @Html.DisplayFor(modelItem => Model.January)
    </th>

    <br />

    <th class="text-black">
        February: @Html.DisplayFor(modelItem => Model.February) PLN
    </th>

    <br />

    <th class="text-black">
        March: @Html.DisplayFor(modelItem => Model.March) PLN
    </th>

    <br />

    <th class="text-black">
        April: @Html.DisplayFor(modelItem => Model.April) PLN
    </th>

    <br />

    <th class="text-black">
        May: @Html.DisplayFor(modelItem => Model.May) PLN
    </th>

    <br />

    <th class="text-black">
        June: @Html.DisplayFor(modelItem => Model.June) PLN
    </th>

    <br />

    <th class="text-black">
        July: @Html.DisplayFor(modelItem => Model.July) PLN
    </th>

    <br />

    <th class="text-black">
        August: @Html.DisplayFor(modelItem => Model.August) PLN
    </th>

    <br />

    <th class="text-black">
        September: @Html.DisplayFor(modelItem => Model.September) PLN
    </th>

    <br />

    <th class="text-black">
        October: @Html.DisplayFor(modelItem => Model.October) PLN
    </th>

    <br />

    <th class="text-black">
        November: @Html.DisplayFor(modelItem => Model.November) PLN
    </th>

    <br />

    <th class="text-black">
        December: @Html.DisplayFor(modelItem => Model.December) PLN
    </th>
</div>